<%= link_to "New Post", new_post_path%>
<% @posts.each do |post|%>
    <div>
        <p> <%= post.user.email%> </p>
        <p> <%= post.content%></p>
        <p> <%= post.created_at%></p>

        <%=link_to "Reply", "#" %>
        <%=link_to "Like", "#" %>
        <%=link_to "Retweet", "#" %>

        <% if post.user_id == current_user.id%>
            <%= button_to "Delete", post_path(post), method: :delete%>
        <%end%>
    </div>
<%end%>